<nb-card>
  <nb-card-body>

    <nb-tabset>
      <nb-tab *ngFor="let ti of tabItems" [tabTitle]="ti.title" [tabIcon]="ti.icon" responsive>
        <app-post-text-form [isComment]="isComment" [postId]="postId" *ngIf="ti.title === 'Text'"></app-post-text-form>
        <app-post-code-form [isComment]="isComment" [postId]="postId" *ngIf="ti.title === 'Code'"></app-post-code-form>
        <app-post-image-form [isComment]="isComment" [postId]="postId" *ngIf="ti.title === 'Image'">Image</app-post-image-form>
        <app-post-video-form [isComment]="isComment" [postId]="postId" *ngIf="ti.title === 'Video'">Video</app-post-video-form>
      </nb-tab>
    </nb-tabset>

  </nb-card-body>
</nb-card>
