<nb-card>
  <nb-card-header *ngIf="author" [routerLink]="'/profile/' + author.uid">
    <nb-user [picture]="(author).photoURL || '/assets/icon/apple-icon-152x152.png'"
             [name]="(author).displayName"
             [title]="(author).catchPhrase || ''"></nb-user>
  </nb-card-header>
  <nb-card-body>
    <b>{{post.title}}</b>
    <br>
    <small style="color: lightgrey;">{{formatDate()}}</small>
    <br>
    {{post.description}}
    <br>
    <!--    code highlight-->
    <textarea *ngIf="post.type === PostTypes.Code" highlight-js
              [innerText]="post.media.code"></textarea>
    <!--    post media-->
    <div align="center">
      <span *ngIf="post.type === PostTypes.Image">
        <img *ngIf="postImage | async" width="80%" height="auto" [src]="postImage | async" [alt]="post.title">
      </span>
      <span *ngIf="post.type === PostTypes.Video" [innerHTML]="postVideo"></span>
    </div>
  </nb-card-body>
  <nb-card-footer *ngIf="author">
      <app-post-actions [post]="post" [isComment]="isComment" [parentId]="parentId"></app-post-actions>
  </nb-card-footer>
  <div class="post-tags">
    <a *ngFor="let tag of post.tags">#{{tag}}</a>
  </div>
  <br>
</nb-card>
