<nb-card>
  <nb-card-header *ngIf="author | async">
    <nb-user [picture]="(author | async).photoURL || '/assets/icon/apple-icon-152x152.png'" [name]="(author | async).displayName"
             [title]="(author | async).catchPhrase || ''"></nb-user>
  </nb-card-header>
  <nb-card-body (click)="commentPost()">
    <b>{{post.title}}</b>
    <br>
    {{post.description}}
  </nb-card-body>
  <nb-card-footer *ngIf="author | async">
    <nb-actions fullWidth>
      <nb-action>
        <nb-icon [icon]="isFavorite ? 'star' : 'star-outline'"
                 [status]="isFavorite ? 'warning' : 'basic'"
                 (click)="toggleFavorite($event)"></nb-icon>
      </nb-action>
      <nb-action>
        <nb-icon [icon]="isShared ? 'share' : 'share-outline'"
                 [status]="isShared ? 'success' : 'basic'"
                 (click)="toggleShared($event)"></nb-icon>
      </nb-action>
      <nb-action>
        <button nbButton status="basic" (click)="commentPost()">
          <nb-icon icon="message-square-outline" status="info"></nb-icon>
          {{commentCount}}
        </button>
      </nb-action>
    </nb-actions>
  </nb-card-footer>
</nb-card>
