<div style="max-width: 800px; margin: auto; background: aliceblue;">
  <section>
    <app-post-item *ngIf="post" [post]="post.data"></app-post-item>
  </section>
  <section style="margin: auto;">
    <nb-list nbInfiniteList [threshold]="500">
      <nb-list-item *ngFor="let c of comments" style="margin: auto; max-width: 700px;">
        <nb-card style="margin: auto;">
          <nb-card-header>{{c.email}}</nb-card-header>
          <nb-card-body>
            {{c.body}}
          </nb-card-body>
          <nb-card-footer>
            <nb-actions fullWidth>
              <nb-action>
                {{getMeta()}}
              </nb-action>
              <nb-action>
                <nb-icon icon="close-circle-outline" status="basic"></nb-icon>
              </nb-action>
              <nb-action>
                <nb-icon icon="award-outline" status="basic"></nb-icon>
              </nb-action>
              <!--              <nb-action>-->
              <!--                <nb-icon icon="message-circle-outline" status="basic"></nb-icon>-->
              <!--              </nb-action>-->
            </nb-actions>
          </nb-card-footer>
        </nb-card>
      </nb-list-item>
    </nb-list>
  </section>
  <app-fab-reply></app-fab-reply>
</div>
