<div class="login-hero">
  <div class="login-container">

    <img src="/assets/svg/twita-default.svg" alt="TWITA">

    <hr>

    <div class="social-box" align="center">
      <nb-card>
        <nb-card-header>Social Login</nb-card-header>
        <nb-card-body class="social-buttons">
          <button nbButton outline status="dark"
                  (click)="login(AuthProviders.GITHUB)">
            <nb-icon icon="github"></nb-icon>
            Github
          </button>
          <br>
          <button nbButton outline
                  status="danger" (click)="login(AuthProviders.GOOGLE)">
            <nb-icon icon="google"></nb-icon>
            Google
          </button>
          <br>
          <button nbButton outline status="info" (click)="login(AuthProviders.TWITTER)">
            <nb-icon icon="twitter"></nb-icon>
            Twitter
          </button>
          <br>
          <button nbButton outline status="primary" (click)="login(AuthProviders.FACEBOOK)">
            <nb-icon icon="facebook"></nb-icon>
            Facebook
          </button>
        </nb-card-body>
      </nb-card>
    </div>

  </div>
</div>
