.login-hero {
  width: 100%;
}

.login-container {
  max-width: 800px;
  margin: 5% auto 5% auto;
}

.social-box {
  max-width: 500px;
  margin: auto;
}

.social-buttons button {
  margin-top: 10px;
}
