<nb-layout>

  <nb-layout-header fixed>
    <!-- Insert header here -->
    <a routerLink="/"><img height="75" src="/assets/img/twita-header-logo.png" alt="TWITA"></a>
    <app-header></app-header>
  </nb-layout-header>

  <nb-sidebar *ngIf="user | async" tag="favbar" state="collapsed" left fixed>
    <app-favbar></app-favbar>
  </nb-sidebar>

  <nb-layout-column>
    <router-outlet></router-outlet>
  </nb-layout-column>

  <nb-sidebar *ngIf="user | async" tag="menubar" state="collapsed" right fixed>
    <app-menubar></app-menubar>
  </nb-sidebar>

  <nb-layout-footer fixed>
    <!-- Insert footer here -->
    <app-footer></app-footer>
  </nb-layout-footer>

</nb-layout>
