<nb-layout>

  <nb-layout-header fixed>
    <!-- Insert header here -->
    <a routerLink="/"><img height="60" src="/assets/icon/apple-icon-60x60.png" alt="TWITA"></a>
    <app-header></app-header>
  </nb-layout-header>

  <nb-sidebar *ngIf="user | async" tag="favbar" state="expanded" left fixed>
    <app-favbar></app-favbar>
  </nb-sidebar>

  <nb-layout-column>
    <router-outlet></router-outlet>
  </nb-layout-column>

  <nb-sidebar *ngIf="user | async" tag="menubar" state="expanded" right fixed>
    <app-menubar></app-menubar>
  </nb-sidebar>

  <nb-layout-footer fixed>
    <!-- Insert footer here -->
    <app-footer></app-footer>
  </nb-layout-footer>

</nb-layout>
