<nb-card>
  <nb-card-header>
    <nb-user *ngIf="user" picture="/assets/icon/apple-icon-152x152.png" [name]="user.username"
             [title]="user.company.catchPhrase"></nb-user>
  </nb-card-header>
  <nb-card-body (click)="commentPost()">
    <b>{{post.title}}</b>
    <br>
    {{post.body}}
    <br>
    <pre>
      <code class="language-typescript">
        {{
        "async commentPost() {\n" +
        "    this.phs.setCurrentPost({data: this.post, user: this.user});\n" +
        "    await this.router.navigateByUrl('/demo-code');\n" +
        "}"
        }}
      </code>
    </pre>
  </nb-card-body>
  <nb-card-footer *ngIf="user">
    <nb-actions fullWidth>
      <nb-action>
        <nb-icon [icon]="isFavorite ? 'star' : 'star-outline'"
                 [status]="isFavorite ? 'warning' : 'basic'"
                 (click)="toggleFavorite($event)"></nb-icon>
      </nb-action>
      <nb-action>
        <nb-icon [icon]="isShared ? 'share' : 'share-outline'"
                 [status]="isShared ? 'success' : 'basic'"
                 (click)="toggleRetwita($event)"></nb-icon>
      </nb-action>
      <nb-action>
        <button nbButton status="basic" (click)="commentPost()">
          <nb-icon icon="message-square-outline" status="info"></nb-icon>
          {{cCount}}
        </button>
      </nb-action>
    </nb-actions>
  </nb-card-footer>
</nb-card>
