<div class="single-post" *ngIf="post; else postDeleted">
  <section>
    <app-post-item [post]="post"></app-post-item>
  </section>
  <section *ngIf="comments.length">
    <nb-list>
      <nb-list-item *ngFor="let c of comments">
        <app-post-item class="post-comment" [post]="c" [isComment]="true" [parentId]="post.id"></app-post-item>
      </nb-list-item>
    </nb-list>
  </section>
</div>
<ng-template #postDeleted>
  <div class="single-post" align="center">
    <h2>Post deleted by the author</h2>
  </div>
</ng-template>
