<div style="max-width: 800px; margin: auto; background: aliceblue;">
  <section>
    <app-post-item *ngIf="post" [post]="post"></app-post-item>
  </section>
  <section>
    <nb-list nbInfiniteList [threshold]="500">
      <nb-list-item *ngFor="let c of comments">
        <app-post-item style="width: 80%; margin: auto;" [post]="c"></app-post-item>
      </nb-list-item>
    </nb-list>
  </section>
  <div class="reply-box">
    <nb-accordion>
      <nb-accordion-item #replyBox>
        <nb-accordion-item-header>Click to reply</nb-accordion-item-header>
        <nb-accordion-item-body>
          <app-create-post [isComment]="true" [postId]="post.id"></app-create-post>
        </nb-accordion-item-body>
      </nb-accordion-item>
    </nb-accordion>
  </div>
  <!--  <app-fab-reply (click)="toggleReplyBox()"></app-fab-reply>-->
</div>
