<nb-card>
  <nb-card-body>

    <form [formGroup]="codeForm" (submit)="onSubmit()">
      <input type="text" nbInput fullWidth formControlName="title"
             fieldSize="large" placeholder="Title">
      <br><br>
      <textarea nbInput fullWidth formControlName="description"
                placeholder="Description" rows="5"></textarea>
      <br><br>
      <textarea nbInput fullWidth formControlName="code"
                placeholder="Paste your code here" rows="10"></textarea>
      <br><br>
      <tag-input *ngIf="!isComment" formControlName="tags" nbInput maxItems="5" [separatorKeyCodes]="[32]"
                 [blinkIfDupe]="true" [allowDupes]="false"></tag-input>
      <br>
      <div align="center">
        <button nbButton status="primary" type="submit" [disabled]="codeForm.invalid">
          <nb-icon icon="paper-plane-outline"></nb-icon>
          {{ isComment ? 'Comment' : 'Publish'}}
        </button>
      </div>
    </form>

  </nb-card-body>
</nb-card>
